@import "./custom";   // Way #1:  to overcome default style
@import 'bootstrap/dist/css/bootstrap.min.css';
@import '@fortawesome/fontawesome-free';
@import "./zt";
@import "./welcome";
@import "trix/dist/trix"