// Way #2
body {
  padding-top: 10px;
  margin: 10px;
  background-color: lightyellow;
  color:            black;
}

// Ways #1 & #2
h1 {color: red}

.footer-debug {
  padding: 10px;
  margin-top: 10px;
  border-top: 1px solid #e5e5e5;
  background-color: lightgray;
}

.content-area {
  padding: 10px;
  background-color: lightgrey;
}

.form-image-cell {
  padding: 5px;
}