%hr
.form_actions
  .row
    .col-sm-3
      = f.submit t('actions.save'), class: 'btn btn-primary btn-sm'
    .col-sm-3
      = link_to t('actions.back'), "admin_#{object.class.name.downcase.pluralize}".to_sym, class: 'btn btn-info btn-sm'
